@page
@using Microsoft.AspNetCore.Identity
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager;

@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
    <div class="text-center">
        <h1 class="display-4">FishingTrip</h1>
        <h2>For planning and tracking all of you fishing trips</h2>

        @*    Tommorow I am working on the index page of the website, some ideas as follows:
        Weather forecast for favourite spots
        See recent posts/fishing trips of friends and self*@
        
        @if (SignInManager.IsSignedIn(User))
        {
            //remove_Favourite("Test");
            <h1>Recent Posts and fishing trips from friends</h1>
            <p>
                Creating a method to collect a certain number of posts from the database from friends and own user
                This could be harder to do because of the multiple database
                Use a combine function to add them all together?
            </p>
            <p>Insert recent friend posts here</p>

            <form id="addFav"action="~/" method="post">
                <label>Add favourite fishing spot</label>
                <input type="text" name="favSpot" width="50" value="Port Waikato"/>                
                <input type="hidden" name="addFavourite" value="true"/>
                <input type="submit" id="testSQL" value="TestSQL Button"/>
            </form>
            
        }
        else
        {
            <h2>For tracking all of your fishing data</h2><br></br>
            <h3>What this application is capable of:</h3>
            <ul>
                <li class="list">Returns weather and wave information for you favourite fishing locations</li>
                <li class="list">Recommends best fishing days for you based on fishing history</li>
                <li class="list">Records your fishing trips for you and the conditions</li>
            </ul>
        }
    </div>
</html>

